<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>All Users</title>
</head>
<body>
<table border="1">
    <thead>
    <tr>All USERS</tr>
    </thead>
    <tbody>
    <tr>
        <th>ID</th>
        <th>FIRSTNAME</th>
        <th>LASTNAME</th>
        <th>USERNAME</th>
        <th>PASSWORD</th>
        <th>ROLE</th>
        <th>OPERATIONS</th>

    </tr>
    <tr th:each="user : ${users}">
        <td th:text="${user.id}"></td>
        <td th:text="${user.firstname}"></td>
        <td th:text="${user.lastname}"></td>
        <td th:text="${user.username}"></td>
        <td th:text="${user.password}"></td>
        <td th:text="${user.roles}"></td>

        <td>
       <form th:method="DELETE"   th:action="@{/admin/{id}(id=${user.getId()})}">
       <input type="submit" value="DELETE">
       </form>
       <form th:method="GET" th:action="@{/admin/edit/{id}(id=${user.getId()})}">
        <input type="submit" value="UPDATE">
        </form>
        </td>
    </tr>
    </tbody>
</table>
<input type="button"  value="add" onclick="window.location.href='/admin/new'"/>
<br>
<br>
<form th:action="@{/logout}" method="post">
    <input type="submit" value="logout"/>
</form>
</body>
</html>